<style>
  .name {color: white;
  size: 10;
  font-family: Verdana;}
  .address {size:5;
  }
  body {background-image: url("http://eskipaper.com/images/electrical-engineering-wallpaper-5.jpg");
  font-family:  Verdana;
  color: white;
  
</style>
